{{define "header"}}
<header class="header">
	<a href="/Home" class="logo">HANGMAN</a>
	<div class="header-right">
		<a href="/Home">Home</a>
		<a href="/game">Jeu</a>
		<a href="/informations">Informations</a>
		<img src="/Ressources/Images/kisspng-santa-claus-christmas-ornament-new-year-gift-5b1f653ae97602.5475948515287841869563.png"
			id="pere">
	</div>
	<audio src="/Ressources/Sons/Silent-night.mp3" type="audio/mpeg" preload="auto" autoplay loop>Ne supporte pas
		l'audio</audio>
</header>
{{end}}